@tailwind base;
@tailwind components;
@tailwind utilities;

 body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.signInbut {
    background: linear-gradient(
      115deg,
      #bf97df,
      #9f32f8,
      #7300d0,
      #9f32f8,
      #bf97df
    );
    padding: 10px 20px;
    background-size: 200% 200%;
    border-radius: 0.5rem;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    border: none;
    color: white;
    transition: box-shadow 0.3s ease;
  }
  
.signInbut:hover {
    box-shadow: 0px 0px 5px rgb(144, 0, 255);
    animation: ani 7s infinite linear;
  }